<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:id="http://www.w3.org/1999/xhtml">
<head>
    <link href="../static/style_error.css" media="all" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <title>Error</title>
</head>
<body>
    <div class="t">
        ERROR
        <br>
        <label>
            <input disabled type="text" th:value="${errorCause}"/>
        </label>
    </div>
    <br>
    <div class="button">
        <form action="" method="get">
            <input  onclick="window.history.go(-1); return false;" type="submit" name="COME BACK" value="COME BACK"/>
        </form>
    </div>
</body>
</html>
